@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.stone.50');
  color: theme('colors.black');
}

img {
  max-width: 100%;
}

::selection {
  background-color: theme('colors.yellow.400');
}